.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    bottom: 100px;
    row-gap: 2rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-right: 3rem;
    z-index: -1;
    justify-items: end;
    align-items: center;
}
.title{
    display: grid;
    row-gap: 2rem;
    background-color: rgb(247, 247, 247);
    padding-left: 1rem;
}
.title > span{
    max-width: 200px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--main-font);
}
.title > span:nth-child(2){
    font-weight: 700 !important;
}
.gallery1 > img{
    width: 200px;
    height: 200px;
    object-fit: fill;
}
.gallery1 {
    border: 1px solid whitesmoke;
}