.slider img{
    height: 500px;
    object-fit: fill;
}
.slider{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
main{
   
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.mainsection{
    background-color: #EAEDED;
}
@media(min-width: 1200px) and (max-width: 1440px){
    .slider{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}