header{
   background-color: var(--main-background-color);
   width: 100%;
   height: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    align-items: center;
}

.amazonlogo img{
    width: 100px;
    object-fit: fill;
}
.cart  a{
    color: var(--main-color);
    font-weight: 200;
    font-family: var(--main-font);
    line-height: 1;
    font-size: .8rem;
    text-decoration: none;
}
.cart span{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 700;
}
.searchlogo{
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 2rem;
    padding-left: 2rem;
}
.searchlogo select{
    width: 60px;
    height: 35px;
    font-family: var(--main-font);
    font-weight: 400;
    background-color: #f1f1f1;
    outline-color: #fcbb6a;
    border: 0;
    border-right: 1px solid;
    border-radius: 8px 0px 0px 8px;
}
.searchlogo input{
    width: 100%;
    height: 35px;
    border: 0;
    outline-color: #fcbb6a;
}

.cart {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
.language {
    padding: 6px;
}
.signin {
    padding: 6px;
}
.cartlogo{
    padding: 6px;
    display: block;
}
.cartitems{
padding: 6px;
}
.secondnav{
    background-color:  #232f3e;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.secondnavitems{
    display: flex;
    gap: 1rem;
   
}
.dealslink{
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: '.9rem';
    font-weight: 500;
}
.dealslink:hover{
    border: 1px solid #fff;
}
/* @media (min-width: 1200px) and (max-width: 1440px){
    .searchlogo input{
        
        height: 35px;
        border: 0;
        outline-color: #fcbb6a;
    }
    @media (min-width: 1441px) and (max-width:1550px){
        .searchlogo input{
            width: 880px;
            height: 35px;
            border: 0;
            outline-color: #fcbb6a;
        }
    }
} */